/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2019, 1:30:21 PM
    Author     : steph
*/

.site-header {
    
    background: $color_header-gradient;
    
}

.site-branding {
    display:flex;
    padding:1em;
}

.site-title a {
    color: #fff; 
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    font-size: 30px;
    padding-left: 0.5em;
}

@media only screen and (max-width: 610px) {
  
    .site-branding {
        display: block;
        text-align: center;
    }
    .custom-logo {
    margin: 0 auto;
    width: 100px;
     
}
.site-title  {
    text-align: center;
}

.site-title a
{padding-left: 0; font-size: 20px;}
}