/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2019, 1:22:26 AM
    Author     : steph
*/








.site-content {
    
    max-width: 1500px;
    margin: 0 auto 2% auto;
    width:95%;
   
    
}


.page-template-fullwidth .site-content {
    
    max-width: 1000px;
    margin: 0 auto 2% auto;
    width:95%;
   
    
}


.page-template-elementor_header_footer .site-content {
    
        margin: 0 auto 0 auto !important;
         
}





.site-main {
    width: 66%;
    float: left;
    
}
.page-template-fullwidth .site-main  {
    
    width: 100%;
    float: none;
   
    
}


.page-template-fullwidth .entry-title {
    text-align: center
}
#secondary {width:30%; float: right;margin:1.5%}

#secondary .widget-title {
    text-transform: uppercase;
}
#secondary ul {
    margin:0;
    font-size: 1.5rem;
    font-weight:200;
}
#secondary ul ul {
    margin:0;
    font-size: 1rem;
    font-weight:200;
}

#secondary ul a {
    text-decoration: none;
}

#secondary .button {
     
    background: #F2A244;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    width:100%;
     margin:0.5em auto;
    line-height: 1;
    padding: .6em 1em .4em;
    text-align: center;
     text-decoration: none;
     font-size: 20px;
}

#secondary .button:hover  {
   background: #E7204E;
}

#secondary .widget-title {
    color:#fff;
}
.entry-title {
     
    margin-top:2em;
    text-align: center;
    text-transform: uppercase;

}

.entry-content {
    background: #f3e4d1b8;
    padding:3em;
 }

#secondary {
    background: #280A41;
    color: #fff;
    width:30%;
    padding:3em;
    
}

#secondary a {
    color:#fff;
}
.entry-header {
    
}

#custom-bg {
    height:50vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
      width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#custom-bg h1 {
    margin:0;
    padding:1em;
    width:auto;
    background: #fafafacc;
    color: #111;
    border-radius: 15px;
    text-transform: uppercase;
    text-align:center;
    margin:1em;
}



@media screen and (max-width: 900px) {
  .site-main {
    width: 100%;
    float: none;
    
}

#secondary {width:100%; float: none;margin:0 0 2% 0;}
}