/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2019, 7:25:00 AM
    Author     : steph
*/

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: right;
    width: 48%;
    clear: none;
    display: none;
}


.single-product .related {display:none;}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    display:none;
}

.single-product .entry-content {
    background:#fff;
    
}

.single-product .onsale {
    display:none;
}