.sticky {
	display: block;
}

.post,
.page {
	margin: 0em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.single-post .post-thumbnail {display:none;}

.single-post #secondary ul a {
     font-weight: bold;
}

.post-date {
    display: block;
    font-size: 1rem;
    margin-bottom: 2em;
}

